h1 {
  color: crimson;
  text-align: center;
}

h3 {
  color: lightskyblue;
  margin: 15px 10px 20px;
  text-align: left;
}

p {
  margin: 0 10px 35px;
  text-align: justify;
}

img {
  width: 100%;
}

.top-row {
  display: flex;
  justify-content: space-around;
}

.middle-row {
  display: flex;
  justify-content: space-around;
}

.bottom-row {
  display: flex;
  justify-content: space-around;
}

.single-container {
  flex-basis: 28%;
}
